.gameHeader {
  min-height: 60px;
  background-color: beige;
  width: 100%;
}

.gameRoundText{
  height: 80px;
  line-height: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.alphabetGuessContainer {
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding-right: 100px;;
}

.alphabetGuess, .alphabetGuessSpace {
  display: inline-block;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.5em;
  text-decoration: underline;
}

.alphabetGuessSpace {
  text-decoration: none;
}

.saveSketch {
  margin-top: 80%;
}

.saveSketch:hover {
  transform: scale(1.1);
  cursor: pointer;
}
