.gameHeader {
  min-height: 60px;
  background-color: beige;
  width: 100%;
}

.gameRoundText{
  height: 50px;
  line-height: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.alphabetGuessContainer {
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding-right: 100px;;
}

.alphabetGuess {
  display: inline-block;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.5em;
  text-decoration: underline;
}
