.gameHeader {
  min-height: 60px;
  background-color: beige;
  width: 100%;
}

.gameRoundText{
  height: 80px;
  line-height: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.saveSketch {
  margin-top: 80%;
}

.fullScreenWrapper {
  margin-left: 20px;
}

.fullScreen {
  margin-top: 85%;
  font-size: 2em;
}

.saveSketch:hover {
  transform: scale(1.1);
  cursor: pointer;
}
