.wrapped-paper {
  text-align: center;
  padding: 15px 50px 15px 50px;
  margin: 20px;
}

.homeContainer {
  :not(.darkMode) {
    .wrapped-paper {
      background-color: bisque !important;
    }
  }
}

.header {
  transition: all 0.3s ease;
}
