.wrapped-paper {
  text-align: center;
  padding: 15px 50px 15px 50px;
  margin: 20px;
}

.info-wrapper {
  text-align: center;
  margin: 0 20px 0 20px;
}

.header {
  transition: all 0.3s ease;
}

.info-text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
