.playerListContainer {
  height: 635px;
  overflow: auto;
}

#playerListHeader {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.adminHint {
  padding-top: 10px;
  font-size: .7rem;
  color: grey;
  font-weight: bold;
  font-style: oblique;
}

#playersList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#playersList > .MuiListItem-root {
  width: 8rem !important;
}

.playerName,
.playerAdmin,
.playerSelf {
  max-width: 5rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.playerAdmin {
  color: red;
}

.playerSelf {
  color: green;
  font-weight: bolder;
}

.playerData,
.darkPlayerData {
  transition: transform 0.2s;
}

.playerData:hover {
  transform: scale(1.1);
  background-color: beige;
}

.darkPlayerData:hover {
  transform: scale(1.1);
  background-color: hsl(50, 33%, 25%);
}
