.canvasContainer {
  height: 62vh;
  background-color: white;
  max-width: 1125px;
  margin: auto;
  border-radius: 5px;
}

.canvas-pen {
  cursor: url("../../cursors/pencil.svg") -12 46, crosshair;
}

.canvas-eraser {
  cursor: url("../../cursors/eraser.svg") 5 43, crosshair;
}

.canvas-fill {
  cursor: url("../../cursors/fill.svg") 3 20, crosshair;
}

.canvas-disabled {
  cursor: url("../../cursors/disabled.svg") 16 16, crosshair;
}