{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "arrow-body-style": "warn",
    "arrow-parens": ["warn", "as-needed", { "requireForBlockBody": true }],
    "camelcase": "warn",
    "comma-dangle": ["warn", "never"],
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "guard-for-in": "warn",
    "import/extensions": "warn",
    "import/first": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/no-duplicates": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "max-len": ["warn", 160, 2],
    "no-else-return": "warn",
    "no-multi-assign": "warn",
    "no-nested-ternary": "warn",
    "no-use-before-define": ["error", "nofunc"],
    "no-param-reassign": "warn",
    "no-prototype-builtins": "warn",
    "no-return-assign": "warn",
    "no-restricted-syntax": "warn",
    "no-shadow": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-var": "warn",
    "no-case-declarations": "off",
    "one-var": "warn",
    "object-curly-newline": ["warn", { "multiline": true }],
    "one-var-declaration-per-line": "off",
    "object-shorthand": "warn",
    "prefer-destructuring": "warn",
    "prefer-const": "warn",
    "prefer-template": "warn",
    "quotes": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-undef": "warn",
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-no-bind": "warn",
    "react/jsx-tag-spacing": "warn",
    "react/no-array-index-key": "warn",
    "react/no-find-dom-node": "warn",
    "react/no-multi-comp": "off",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/no-did-mount-set-state": "off",
    "react/jsx-no-target-blank": "warn",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "warn",
    "react/sort-comp": "warn",
    "vars-on-top": "warn"
  }
}
