.avatarChooserWrapper {
  min-width: 1000px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.avatarChooserHeader {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  background-image: linear-gradient(45deg, #b721ff, #21d4fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.closeButton {
  font-size: larger;
  margin-top: 10px;
  margin-right: 10px;
  text-align: end;
}

.closeButton:hover {
  cursor: pointer;
  color: red;
}

.avatarChooserFormItem {
  background-color: darksalmon;
}

.darkMode {
  .avatarChooserFormItem,
  .MuiInput-input {
    color: black;
  }
}

.avatarChooserFormItem {
  background-color: darksalmon;
  .MuiFormControlLabel-label {
    min-width: 170px;
  }
}
