.loadingWrapper {
  text-align: center;
  margin: auto;
  position: relative;
  top: 80%;
}

.loadingText {
  font-weight: bolder;
  font-size: 3em;
  color: white;
}

.loadingAnimation {
  margin: auto;
}
