.toggleIcon {
  color: black;
}

.darkMode .toggleIcon {
  color: white;
}

.moonIcon {
  color: blue;
}

.darkMode .sunIcon {
  color: orange;
}

@keyframes animatBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  z-index: 1;
  background-image: url("./../images/main-background.jpg");
  background-repeat: repeat;
  animation: animatBackground 30s alternate infinite;
  height: 500vh;
  transition: all 0.5s;
}

@media only screen and (max-device-width: 480px) {
  .bg {
    animation: animatBackground 300s alternate infinite;
  }
}

.dark-mode-bg {
  background-image: none;
  background-color: #ca7968;
  background-image: linear-gradient(315deg, #ca7968 0%, #0c0c0c 74%);
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-wrapper-container {
  position: fixed;
  z-index: 999;
}

.errorContainer {
  // visibility: hidden;
  background-color: red;
  animation: errorFade 10s;
  height: 50px;
  animation-fill-mode: forwards;
}

.errorContainerVisible {
  visibility: visible;
}

@keyframes errorFade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
