.avatarSettingsIcon {
    position: relative;
    left: 50px;
    top: 35px;
    transition: all .3s ease;
  
}

.randomAvatarIcon {
    position: relative;
    left: 50px;
    top: 20px;
    transition: all .3s ease;
}

.randomAvatarIcon:hover, .avatarSettingsIcon:hover {
    transform: scale(1.3);
    color: red;
}
