.avatarSettingsIcon {
  position: relative;
  left: 80px;
  top: 35px;
  transition: all 0.3s ease;
}

.userAvatarIcon {
  position: relative;
  left: 80px;
  top: 20px;
  transition: all 0.3s ease;
}

.userAvatarIcon:hover,
.avatarSettingsIcon:hover {
  transform: scale(1.3);
  color: red;
}

.avatarChooserModal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

@media only screen and (max-device-width: 480px) {
  .MuiButton-label {
    font-size: 0.6em;
  }
}
