.chatContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
  max-height: 32rem;
  overflow-y: auto;
}

.chatListContainer {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 15px 0 15px;
}

.chatItemContainer {
  width: 100%;
  border-radius: 10px;
  background-color: lightgray;
}

.chat_correct_guess {
  background-color: lightgreen;
}

.chat_too_close_guess {
  background-color: #fff44f;
}

.darkMode {
  .chatItemContainer {
    background-color: #181818;
  }
  .chat_correct_guess {
    background-color: #228b22;
  }

  .chat_too_close_guess {
    background-color: #6a5acd;
  }
}

.chatItemName {
  font-size: 0.6em;
  font-weight: normal;
  width: 14rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.chatItemContent {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 0.8em;
  word-wrap: break-word;
}

.chatInput > input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}
