.chatContainer {
  height: 31rem;
  padding: 0px 10px 0px 10px;
}

.chatListContainer {
  height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.chatItemContainer {
  border-radius: 10px;
  background-color: lightgray;
}

.chat_correct_guess {
  background-color: lightgreen;
}

.chat_too_close_guess {
  background-color: #fff44f;
}

.darkMode {
  .chatItemContainer {
    background-color: #181818;
  }
  .chat_correct_guess {
    background-color: #228b22;
  }

  .chat_too_close_guess {
    background-color: #6a5acd;
  }
}

.chatItemName {
  font-size: 0.6em;
  font-weight: normal;
  width: 14rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.chatItemContent {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 0.8em;
}

.chatInput {
  position: absolute;
  bottom: 6rem;
  z-index: 999;
  width: 15rem;
}

.chatInput > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
