#lobbyHeader {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.lobbyFormContainer {
  padding: 15px;

  .customLabel {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  .customWordSlider {
    width: 95% !important;

    .MuiSlider-track {
      height: 7px;
      border-radius: 7px;
    }

    .MuiSlider-thumb {
      margin-top: -3px;
    }

    .MuiSlider-rail {
      height: 6px;
    }

    .MuiSlider-mark {
      height: 6px;
    }
  }
}

.copyLinkContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 0;
}

.copiedLinkContainer {
  .MuiChip-root {
    background-color: green;
  }
}

.startGameButton {
  display: flex;
  justify-content: center;

  .MuiButton-contained, .MuiButton-contained:hover {
    background-color: green;
    font-weight: bolder;
    color: honeydew;
  }

  .MuiButton-contained:hover {
    background-color: indigo;
  }
}
